---
- name: Yum Install Packages
  yum: name={{item}} state=latest
  with_items:
  - wget

- name: terraform install
  unarchive:
    src: https://releases.hashicorp.com/terraform/0.11.10/terraform_0.11.10_linux_amd64.zip
    dest: /usr/sbin
    remote_src: True

- name: Clone terraform project
  command: git clone https://github.com/pmysore1/ansible-terraform.git chdir="{{ tmp_dir }}" 

- name: Run Terraform
  command: terraform init -backend-config="bucket={{TFSTATES_S3_BUCKET }}" -backend-config="key={{ TFSTATES_S3_KEY }}" -backend-config="region={{ TFSTATES_S3_REGION }}" chdir="{{ terraform_working_dir }}"

- name: Terraform Plan command
  command: terraform plan chdir="{{terraform_working_dir }}"

- name: plan
  terraform:
   project_path: "{{ terraform_working_dir }}"
   plan_file: "{{ terraform_working_dir }}/tfplan"
   lock: true
   state: planned
