---
- name: Yum Install Packages
  yum: name={{item}} state=latest
  with_items:
  - wget

- name: terraform install
  unarchive:
    src: "{{TERRAFORM_DOWNLOAD_PATH}}"
    dest: /usr/sbin
    remote_src: True
    creates: /usr/sbin/terraform

#- name: Clone terraform project
#  command: git clone {{ GIT_URL }} chdir="{{ TMP_DIR }}" 
- name: clone Terraform Git repository
  git:
   repo: "{{ GIT_URL }}"
   dest: "{{ TMP_DIR }}/ansible-terraform"
   force: yes


- name: Run Terraform init
  command: terraform init -backend-config="bucket={{TFSTATES_S3_BUCKET }}" -backend-config="key={{ TFSTATES_S3_KEY }}" -backend-config="region={{ TFSTATES_S3_REGION }}" chdir="{{ terraform_working_dir }}"

- name: Terraform command "{{ terraform_state }}"
  command: terraform {{ terraform_state }} chdir="{{terraform_working_dir }}"
  when: "{{ terraform_state }}" == "plan"

- name: Terraform command "{{ terraform_state }}"
  command: terraform {{ terraform_state }} --auto-approve chdir="{{terraform_working_dir }}"
  when: "{{ terraform_state }}" == "apply" || "destroy"
